

#app {
	width: 60%;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
}
h4{
	display: inline;
	margin-left: 5%;
}
.break{
width:100%;
margin: auto;
padding-bottom: 10px;
padding-top: 10px;
filter: opacity(70%);
}
.btn {
  border: 2px solid black;
  background-color: white;
  padding: 8px 22px;
	color: black;
  font-size: 14px;
  cursor: pointer;
}

label{
	font-size: 150%;
}

 #logo{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 padding-top: 10px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 20px 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}


li.high {
	border: 2px solid #f2360c;
	color: #f2360c;
}

li.low {
	border: 2px solid #1a681e;
}

input[type="text"] {
	padding: 10px;
	width: 50%;
}

button{
	padding: 10px;
	background: #000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000;
}
